body {
	padding: 50px;
}
.block {
	width: 100px;
	height: 100px;
	background-color: #FCD800;
	text-align: center;
	border-radius: 10px;
	box-shadow: -4px -4px 1px 0 #c9b024 inset, 4px 2px 2px #fff inset;
	border: 2px solid;
}

.block span {
    color: #fff;
    font-family: sans-serif;
    font-size: 7em;
    font-weight: bolder;
    line-height: 1em;
    min-height: 100px;
    text-shadow: 2px 2px #000;
    vertical-align: middle;
}