@font-face {
  font-family: '04b30';
  src: url("../fonts/04b_30-webfont.eot");
  src: url("../fonts/04b_30-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/04b_30-webfont.woff2") format("woff2"), url("../fonts/04b_30-webfont.woff") format("woff"), url("../fonts/04b_30-webfont.ttf") format("truetype"), url("../fonts/04b_30-webfont.svg#04b30") format("svg");
  font-weight: normal;
  font-style: normal; }
