$yellow-block: #FAD800;
$pink-block: #ED1E8A;
$blue-block: #85A3F4;
$green-block: #39E22F;
$used-block: #86531F;
$gray-block: #BFBFC1;
$white: #fff;
$black: #000;

$block-height: 100px;
$block-width: 100px;

$block-eye-height: $block-height / 4;
$block-eye-width: $block-height / 15;

$note-size: 20px;
$vnote: ($note-size * 2) / 3;